asyncio==3.4.3
certifi==2022.12.7
chardet==3.0.4
idna==2.8
asyncpraw==7.8.1
asyncprawcore==2.4.0
requests==2.25.1
six==1.17.0
urllib3==1.26.5
websocket-client==0.56.0
discord.py==2.6.4
psycopg2-binary==2.9.11
google==3.0.0
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.24.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
pytz==2020.5
beautifulsoup4==4.9.3
lxml==4.9.3
